#miradorViewer-wrapper {
    height: 80vh;
    position: relative;
    z-index: 0;
    margin: -20px;
}

#miradorViewer-wrapper h2 {
    color: black;
    border: none;
    font-size: 17.072px;
}

#miradorViewer-wrapper nav>div {
    height: auto;
    float:none;
}

